/* colours */
.limegreen {
	background-color: #aace38;
}
.black {
	background-color: #000;
}
.white {
	background-color: #fff;
}
.blue {
	background-color: #007E9E;
}
.bggradient {
	background: -moz-linear-gradient(top,  rgba(0,0,0,1) 40%, rgba(149,149,149,1) 79%, rgba(229,229,229,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(40%,rgba(0,0,0,1)), color-stop(79%,rgba(149,149,149,1)), color-stop(100%,rgba(229,229,229,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 40%,rgba(149,149,149,1) 79%,rgba(229,229,229,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,1) 40%,rgba(149,149,149,1) 79%,rgba(229,229,229,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,1) 40%,rgba(149,149,149,1) 79%,rgba(229,229,229,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,1) 40%,rgba(149,149,149,1) 79%,rgba(229,229,229,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00e5e5e5',GradientType=0 ); /* IE6-9 */
	
	width: 100%;
	height: 300px;
	position: absolute;
	z-index: -1;
}
#wrapper {

}
/* headers */
h2 {

}
h2.boxout {

}
h2.title {

}
h2.membername {
	
}
	h2.membername span {
		font-size: larger;
	}
/* lists */
ul {

}
li {

}
ul.nav {
	margin-left: 0;
	overflow: hidden;
}
	ul.nav li {
		list-style: none;
		display: inline;
		float: left;
		text-transform: uppercase;
	}
		ul.nav li a:link, ul.nav li a:visited, ul.nav li a:active,
		ul.nav li ul li.active a:link, ul.nav li ul li.active a:visited, ul.nav li ul li.active a:active, #wrapper ul.nav li ul li a:hover {
			color: #000;
			padding: 8px 12px;
	
			background: rgb(255,255,255); /* Old browsers */
			background: -moz-linear-gradient(top,  rgba(255,255,255,1) 39%, rgba(237,237,237,1) 83%, rgba(188,188,188,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(39%,rgba(255,255,255,1)), color-stop(83%,rgba(237,237,237,1)), color-stop(100%,rgba(188,188,188,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 39%,rgba(237,237,237,1) 83%,rgba(188,188,188,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(255,255,255,1) 39%,rgba(237,237,237,1) 83%,rgba(188,188,188,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(255,255,255,1) 39%,rgba(237,237,237,1) 83%,rgba(188,188,188,1) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(255,255,255,1) 39%,rgba(237,237,237,1) 83%,rgba(188,188,188,1) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bcbcbc',GradientType=0 ); /* IE6-9 */
						
			border-left: 1px solid #fff;
			border-right: 1px solid #666;
			
		}
		ul.nav li a:hover, ul.nav li.active a {
			background: rgb(229,229,229); /* Old browsers */
			background: -moz-linear-gradient(top,  rgba(229,229,229,1) 0%, rgba(124,124,124,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,1)), color-stop(100%,rgba(124,124,124,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(124,124,124,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(124,124,124,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(124,124,124,1) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(229,229,229,1) 0%,rgba(124,124,124,1) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#7c7c7c',GradientType=0 ); /* IE6-9 */

		}
		ul.nav li ul {
			margin-left: 0;
			position: absolute;
			
			background: rgb(114,114,114); /* Old browsers */
			background: -moz-linear-gradient(top,  rgba(114,114,114,1) 1%, rgba(0,0,0,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(114,114,114,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(114,114,114,1) 1%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(114,114,114,1) 1%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(114,114,114,1) 1%,rgba(0,0,0,1) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(114,114,114,1) 1%,rgba(0,0,0,1) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#727272', endColorstr='#000000',GradientType=0 ); /* IE6-9 */


		}
			ul.nav li ul li {
				float: none;
			}
				ul.nav li ul li a:link, ul.nav li ul li a:visited, ul.nav li ul li a:active {
					color: #fff;
					display: block;
					border-bottom: 1px solid #999;
					padding: 4px 10px;
					background: none;
				}
				ul.nav li ul li.active a:link, ul.nav li ul li.active a:visited, ul.nav li ul li.active a:active,
				#wrapper ul.nav li ul li a:hover {
					padding: 4px 10px;
				}
ul.membernav {
	margin: 0;
}
	ul.membernav li {
		list-style: none;
		border-bottom: 2px solid #fff;
		font-size: larger;
		font-family: "futura-pt", sans-serif;
	}
ul.eventdetail {
	float: right;
	margin-right: 12px;
}
	ul.eventdetail li {
		list-style: none;
		border-bottom: 2px solid #666;
	}
	ul.eventdetail li:last-child {
		border: none;
	}
	ul.credits li {
		font-family: "futura-pt", sans-serif;
	} 
/* body text */
a {
	text-decoration: none;
}
body {
	font-family: Arial, sans-serif;
}
p {

}
.condensedcaps {
	font-variant: small-caps;
}
.condensed, .condensedcaps {
	font-size: smaller;
}
.larger {
	font-size: larger;
}
/* buttons */
a.button {
	width: 50px;
	height: 50px;
	color: #fff;
	display: block;
	background-image: url('');
}
a.largebutton {
	width: 65px;
	height: 65px;
}
a.bluebutton {
	background-image: url('');
}
a.arrow {

}
a.opposite {

}
/* structure */
.boxout, .boxoutplain {
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	width: 250px;
	height: 250px;
	background: #000;
	color: #fff;
	padding: 6px;
}
.boxout {
	background: rgb(0,0,0); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(0,0,0,1) 1%, rgba(68,68,68,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(0,0,0,1)), color-stop(100%,rgba(68,68,68,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 1%,rgba(68,68,68,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,1) 1%,rgba(68,68,68,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,1) 1%,rgba(68,68,68,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,1) 1%,rgba(68,68,68,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#444444',GradientType=0 ); /* IE6-9 */

}
.carousel {
	width: 100%;
	background: #ccc;
	height: 250px;
}
.infobox, .membernavcontainer, .memberavatarcontainer {
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	width: 200px;
	min-height: 250px;
	padding-left: 20px;
	padding-top: 24px;
}
.infobox {
	font-size: smaller;	
}
.membernavcontainer {
	background: #eee;
}
.memberavatarcontainer {
	background: #666;
}
.eventbox {
	width: 650px;
	min-height: 100px;
	background: #222;
	color: #fff;
	padding-top: 12px;
}
.footer {
	background-color: #000;
	color: #fff;
	padding: 12px;
	
	background: rgb(114,114,114); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(114,114,114,1) 1%, rgba(127,127,127,1) 1%, rgba(0,0,0,1) 11%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(114,114,114,1)), color-stop(1%,rgba(127,127,127,1)), color-stop(11%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(114,114,114,1) 1%,rgba(127,127,127,1) 1%,rgba(0,0,0,1) 11%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(114,114,114,1) 1%,rgba(127,127,127,1) 1%,rgba(0,0,0,1) 11%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(114,114,114,1) 1%,rgba(127,127,127,1) 1%,rgba(0,0,0,1) 11%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(114,114,114,1) 1%,rgba(127,127,127,1) 1%,rgba(0,0,0,1) 11%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#727272', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}
/* stylebook only */
.swatch {
	height: 25px;
	width: 25px;
	display: inline-block;
}